/* ================================================================= */
/* ESTILO PARA EL FOOTER*/
$font-primary: 'Roboto', sans-serif;
.page-footer{
    margin: auto;
    padding: 2px;
    color:white;
    font-family: $font-primary;
    font-size: 15px;    

    hr{
        width: 125px;
        height: 2px;
    }

    .container 
        {
        width: auto;
        height: auto;    
        ul{
            li{
                a{
                    color: white;
                }
            }
        }
    }
    p a{
        color: white;
    } 
}

