/* Estilo del header */
$font-primary: 'Roboto', sans-serif;
.header{
    nav{
    position: fixed;
    z-index: 1;   
    border:4px solid black;
    font-size: medium;
    font-family: $font-primary;
    font-weight: bold;
    }
    &__nav{
        z-index: 1;   
        background: rgb(241,0,0);
        background: radial-gradient(circle, rgba(241,0,0,1) 4%, rgba(2,0,36,1) 25%, rgba(207,0,5,1) 66%, rgba(32,33,36,1) 88%);
        border:4px solid black;
        font-size: medium;
        font-family: $font-primary;
        color:white;
        font-weight: bold;
    }
}
    /* Estilo para el logo */
.header__logo:hover{
    border: 3px solid black;
    padding: 1px;
    margin: 2px;
    grid-column: 1/2;
    align-items: center;
    transform: rotate(720deg);
    transition: all 3s;
}

